.surveyform{
    height: 75vh;
    width: auto;
    margin-left: 250px;
    margin-right: 20px;
    margin-top: 150px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    min-width: 1400px;
    overflow: auto;
}

.splash{
    background-color: white;
    height: 100%;
    width: 780px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: auto;
}
.splash li{
    margin-bottom: 10px;
    font-size: clamp(14px, 2vw, 24px);
    color: #919191;
    
}
.splash ol{
    margin-right: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.archives{
    background-color: white;
    height: 100%;
    width: 370px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    min-height: 0;
    overflow: auto;
}

h3{
    font-family: 'SkyMedium';
    color: #919191;
    font-size: 35px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
@media (max-width: 991px) {
    .surveyform {
        display: none;
    }
    .screen-too-small {
        display: flex;
    }
}

.splash li.imageGuide{
    list-style: none;
    padding: 0;
}
.imageGuide img{
    width: 700px;
    height: auto;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.terms-label {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bolder;
    color: #555;
    gap: 8px;
    margin-left: 20px;
    margin-right: 50px;

}

input[type="checkbox"] {
    transform: scale(2); 
    margin-right: 10px;
}

button[type="submit"] {
    padding: 20px 50px;
    font-size: 16px;
    margin-right: 40px;
    background-color: #6e6e6e;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
