@font-face {
    font-family: 'SkyRegular';
    src: url('/static/fonts/sky-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SkyMedium';
    src: url('/static/fonts/sky-medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'SkyRegular';
    background-color: #ebebeb;
    height: 100vh;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 220px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

nav img {
    width: 190px;
    height: auto;
    max-height: 150px;
    margin: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    
}

nav li a {
    display: block;
    text-align: center;
    padding: 25px 16px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    border-bottom: solid #e8e8e8;
}

nav li:first-child a {
    border-top: solid #e8e8e8;
}

nav li a:hover {
    background-color: #f0f0f0;
}

.logout-link {
    padding: 20px 16px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5vh;
    display: flex;  
    align-items: center;  
}

.logout-link:hover{
    text-decoration: underline;
}

.logout-link img {
    padding-left: 10px;
    width: 25px;
    height: auto;
    margin-right: 8px;  
}

.welcome h2 {
    font-size: 40px;
    color: rgb(51, 51, 51);
    position: absolute;
    top: 5.5vh; 
    left: 250px; 
}

#datetime {
    font-size: 40px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    position: absolute;
    top: 10vh;
    right: 20px; 
}

.active img{
    position: fixed;
    width: 7px;
    height: 73px;
    float: left;
    left: 0;
    margin: 0;
    padding: 0;
}