{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
    <script src="{% static 'javascripts/datetime.js' %}"></script>
    <title>My Account</title>
</head>

<body>
    <div class="welcome">
        <h2>Hello, {{ request.user.first_name }}</h2>
    </div>
    <div id="datetime"></div>

    <nav>
        <img src="{% static 'images/navbarlogo.png' %}">
        <ul>
            
            <li><a href="{% url 'dashboard' %}">Home</a></li>
            <li><a href="">My Survey</a></li>
            <li><a href="">Trends</a></li>
            <li class="active"><img src="{% static 'images/activenav.png' %}"><a href="{% url 'account' %}">Account</a></li>
        </ul>
        <a href="{% url 'logout' %}" class="logout-link">
            <img src="{% static 'images/signout.png' %}">
            <p>Sign out</p>
        </a>
    </nav>

    <!-- White box in the middle -->
    <div class="white-box"> 
        <p>
            <h3>My Account</h3>
        </p>
    </div>

</body>
</html>