<!--Authored by Musa-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/account.css' %}">
    <title class="title">My Account</title>
    <link rel="icon" href="{% static 'images/tablogo.png' %}" type="image/png">
</head>

<body>
    <div id="mobile-overlay">
        <p>Please view this site on a desktop or tablet for the best experience.</p>
    </div>
    <div class="welcome">
        <h2>My Account</h2>
    </div>
    <div id="datetime">
        {% now "D j M H:i" %}
    </div>
    <script src="{% static 'javascripts/datetime.js' %}"></script>

    <nav>
        <img src="{% static 'images/navbarlogo.png' %}">
        <ul>

            <li><a href="{% url 'dashboard' %}">Home</a></li>
            <li><a href="{% url 'voting_survey' %}">My Survey</a></li>
            <li><a href="{% url 'visualisation' %}">Trends</a></li>
            <li class="active"><img src="{% static 'images/activenav.png' %}"><a href="{% url 'account' %}">Account</a>
            </li>
        </ul>
        <a href="{% url 'logout' %}" class="logout-link">
            <img src="{% static 'images/signout.png' %}">
            <p>Sign out</p>
        </a>
    </nav>

    <!-- White box in the middle-ish -->
    <div class="white-box">
        <!-- The profile details, including the name, role, and button to edit account details -->
        <div class="profile-details">
            <div class="profile-icon">
                <img src="{% static 'accounts/images/ProfileIcon.png' %}">
            </div>
            <!-- The profile meta information, including the name and role of the user -->
            <div class="profile-meta">
                <!-- The name of the user -->
                <div class="profile-name">
                    <p><strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong></p>
                </div>
                <!-- The role of the user -->
                <div class="profile-role">
                    <p><strong>{{ request.user.job_role }}</strong></p>
                </div>
                <!-- The button that will navigate the user to edit their account details -->
                <div class="edit-profile-button">
                    <a href=""><strong>Change Profile Details</strong></a>
                </div>
            </div>
        </div>
        <!-- The further profile details, including the username, ID, email address, and team name -->
        <div class="profile-details-2">
            <div class="profile-info-grid">
                <!-- The username of the user -->
                <div class="profile-box profile-username">
                    <img src="{% static 'accounts/images/Icon-1.png' %}">
                    <p>{{ request.user.username }}</p>
                </div>
                <!-- The email address of the user -->
                <div class="profile-box profile-email">
                    <img src="{% static 'accounts/images/Icon-3.png' %}">
                    <p>{{ request.user.email }}</p>
                </div>
                <!-- The ID of the user -->
                <div class="profile-box profile-id">
                    <img src="{% static 'accounts/images/Icon-2.png' %}">
                    <p>{{ request.user.id }}</p>
                </div>
                <!-- The team of the user -->
                <div class="profile-box profile-team">
                    <img src="{% static 'accounts/images/Icon-4.png' %}">
                    <p>{{ request.user.team }}</p>
                </div>
            </div>
        </div>
</body>

</html>