{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <script src="{% static 'javascripts/datetime.js' %}"></script>

</head>
<div class="welcome">
    <h2>Hello, {{ request.user.first_name }}</h2>
</div>
<div id="datetime"></div>

<nav>
    <img src="{% static 'images/navbarlogo.png' %}">
    <ul>
        
        <li class="active"><a href="">Home</a></li>
        <li><a href="">My Survey</a></li>
        <li><a href="">Trends</a></li>
        <li><a href="">Account</a></li>
    </ul>
    <a href="{% url 'logout' %}" class="logout-link">
        <img src="{% static 'images/signout.png' %}">
        <p>Sign out</p>
    </a>
</nav>
</html>