<!--Authored: Nate-->
{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/loginCSS.css' %}">
    <title>Login to SkyHealth</title>
    <link rel="icon" href="{% static 'images/tablogo.png' %}" type="image/png">
</head>

<body>
    <div id="mobile-overlay">
        <p>Please view this site on a desktop or tablet for the best experience.</p>
    </div>
    <div class="login-container">
        <img class="logo-img" src="{% static 'accounts/images/skylogo.ico' %}" alt="Sky Logo">
        <h2 class="welcome-text">Welcome Back</h2>
        <p class="sub-text">Login To Your Sky Health Account</p>
        <form method="POST" class="login-form">
            {% csrf_token %}
            <div class="form-fields">
                {{ form.as_p }}
            </div>
            <button type="submit">login</button>
        </form>
        <p class="register-link">Don’t have a Sky Health Account? <a href="{% url 'register' %}">Register</a></p>
    </div>
</body>

</html>