{% load static %}
<!-- Authored by Joshua -->
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/registerCSS.css' %}"/>
    <script src="{% static 'javascripts/datetime.js' %}"></script>
    <title>Hi, {{ request.user.first_name }}</title>
    <link rel="icon" href="{% static 'images/tablogo.png' %}" type="image/png"/>
  </head>

  <body>
    <div id="mobile-overlay">
      <p>
        Please view this site on a desktop or tablet for the best experience.
      </p>
    </div>
    <div class="welcome">
      <h2>Hello, {{ request.user.first_name }}</h2>
    </div>
    <div id="datetime">{% now "D j M H:i" %}</div>
    <script src="{% static 'javascripts/datetime.js' %}"></script>

    <nav>
      <img src="{% static 'images/navbarlogo.png' %}" />
      <ul>
        <li><a href="{% url 'dashboard' %}">Home</a></li>
        <li><a href="{% url 'voting_survey' %}">My Survey</a></li>
        <li><a href="{% url 'visualisation' %}">Trends</a></li>
        <li class="active">
          <img src="{% static 'images/activenav.png' %}" /><a href="{% url 'account' %}">Account</a>
        </li>
      </ul>
      <a href="{% url 'logout' %}" class="logout-link">
        <img src="{% static 'images/signout.png' %}" />
        <p>Sign out</p>
      </a>
    </nav>
    <div class="signup-container" id="change-password">
      <div class="signup-content">
        <form method="post" class="signup-form">
          {% csrf_token %}
          <div class="form-field">
            <label for="{{ form.old_password.id_for_label }}">Current Password</label>
            {{ form.old_password }} 
            {% if form.old_password.errors %}
            <script>
              document.querySelector("[name='{{ form.old_password.name }}']").classList.add("error");
            </script>
            {% endif %}
          </div>
          <div class="form-field">
            <label for="{{ form.new_password1.id_for_label }}">New Password</label>
            {{ form.new_password1 }} 
            {% if form.new_password1.errors or form.new_password2.errors %}
            <script>
              document.querySelector("[name='{{ form.new_password1.name }}']").classList.add("error");
            </script>
            {% endif %}
          </div>
          <div class="form-field">
            <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
            {{ form.new_password2 }} 
            {% if form.new_password2.errors %}
            <script>
              document.querySelector("[name='{{ form.new_password2.name }}']").classList.add("error");
            </script>
            {% endif %}
          </div>
          <button type="submit" class="signup-button">Change Password</button>
        </form>
        <div class="requirements-section">
          <div class="password-help-text">
            <h2>Requirements</h2>
            {% if not form.errors %} 
            {{ form.new_password1.help_text|safe }} 
            {% endif%} 
            {% if form.new_password1.errors %}
            <div class="password1-error">
                {{ form.new_password1.errors }}
            </div>
            {% endif %} 
            {% if form.new_password2.errors %}
            <div class="password2-error">
                {{ form.new_password2.errors }}
            </div>
            {% endif %}
          </div>
        </div>
    </div>
  </body>
</html>
