{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/loginCSS.css' %}">
    <title>Signup To SkyHealth</title>
</head>
<img src="{% static 'images/healthlogo.png' %}">
<form method="POST" class="signup">
    <h2>Sign up</h2>
    {% csrf_token %}
    <div class ="signupform">
    <div class="fields">
        <div class="first-name-field">
            <label for="{{ form.first_name.id_for_label }}">First Name:</label>
            {{ form.first_name }}
        </div>
        <div class="last-name-field">
            <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
            {{ form.last_name }}
        </div>
        <div class="username-field">
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
        </div>
        <div class="email-field">
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
        </div>
        <div class="password1-field">
            <label for="{{ form.password1.id_for_label }}">Password:</label>
            {{ form.password1 }}
        </div>
        <div class="password2-field">
            <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
            {{ form.password2 }}
        </div>
        <div class="team-selection">
            <label for="{{ form.team.id_for_label }}">Team:</label>
            {{ form.team }}
        </div>
    </div>
    <div class="password-help-text">
        {% if not form.password1.errors and not form.password2.errors %}
            {{ form.password1.help_text }}
        {% endif %}
        {% if form.first_name.errors %}
        <div class="first-name-error">
            {{ form.first_name.errors }}
        </div>
        {% endif %}
        {% if form.last_name.errors %}
        <div class="last-name-error">
            {{ form.last_name.errors }}
        </div>
        {% endif %}
        {% if form.username.errors %}
        <div class="username-error">
            {{ form.username.errors }}
        </div>
        {% endif %}
        {% if form.email.errors %}
        <div class="email-error">
            {{ form.email.errors }}
        </div>
        {% endif %}
        {% if form.password1.errors %}
        <div class="password1-error">
            {{ form.password1.errors }}
        </div>
        {% endif %}
        {% if form.password2.errors %}
        <div class="password2-error">
            {{ form.password2.errors }}
        </div>
        {% endif %}
        {% if form.team.errors %}
        <div class="team-selection-error">
            {{ form.team.errors }}
        </div>
        {% endif %}
    </div>
</div>
    <div class="register-button">
        <button type="submit">Register</button>
    </div>

</form>
<div class="redirect-text">
    <p>Already have a Sky Health Account? <a href="{% url 'login' %}">Login here</a>.</p>
</div>

</html>