<h2>Register</h2>
<form method="POST">
    {% csrf_token %}
    <div class="first-name-field">
        {{ form.first_name }}
        {% if form.first_name.errors %}
        <div class="first-name-error">
            {{ form.first_name.errors }}
        </div>
        {% endif %}
    </div>
    <div class="last-name-field">
        {{ form.last_name }}
        {% if form.last_name.errors %}
        <div class="last-name-error">
            {{ form.last_name.errors }}
        </div>
        {% endif %}
    </div>
    <div class="username-field">
        {{ form.username }}
        {% if form.username.errors %}
        <div class="username-error">
            {{ form.username.errors }}
        </div>
        {% endif %}
    </div>
    <div class="email-field">
        {{ form.email }}
        {% if form.email.errors %}
        <div class="email-error">
            {{ form.email.errors }}
        </div>
        {% endif %}
    </div>
    <div class="password1-field">
        {{ form.password1 }}
        {% if form.password1.errors %}
        <div class="password1-error">
            {{ form.password1.errors }}
        </div>
        {% endif %}
    </div>
    <div class="password2-field">
        {{ form.password2 }}
        {% if form.password2.errors %}
        <div class="password2-error">
            {{ form.password2.errors }}
        </div>
        {% endif %}
    </div>
    <div class="password-help-text">
        {{ form.password1.help_text }}
    </div>
    <div class="register-button">
        <button type="submit">Register</button>
    </div>
</form>
<div class="login-redirect-text">
    <p>Already have a Sky Health Account? <a href="{% url 'login' %}">Login here</a>.</p>
</div>