.white-box {
    background-color: white;
    width: 79%;
    height: 85%;
    margin: 10% 0% 0% 15%; 
    padding: 1.5%;
    border-radius: 1%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}