{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'voting/splash.css' %}">
    <script src="{% static 'javascripts/datetime.js' %}"></script>
    <title>My Survey</title>
    <link rel="icon" href="{% static 'images/tablogo.png' %}" type="image/png">
   

</head>

<div class="welcome">
    <h2>Hello, {{ request.user.first_name }}</h2>
</div>
<div id="datetime"></div>


<nav>
    <img src="{% static 'images/navbarlogo.png' %}">
    <ul>
        
        <li><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="active"><img src="{% static 'images/activenav.png' %}"><a href="">My Survey</a></li>
        <li><a href="">Trends</a></li>
        <li><a href="{% url 'account' %}">Account</a></li>
    </ul>
    <a href="{% url 'logout' %}" class="logout-link">
        <img src="{% static 'images/signout.png' %}">
        <p>Sign out</p>
    </a>
</nav>

<div class="surveyform">
<div class="splash">
    <h3>My Survey</h3>
    <ol>
        <li>You will be shown a category with a description.</li>
        <li>Please read the description and then proceed to pick a current state for the related topic. </li>
        <li>After picking a state, please proceed to pick a trend regarding for the same category. States are shown below.</li>
        <li>Press next to proceed to the next category. Once all categories have been completed, press submit to complete submission</li>
        <li class="imageGuide"><img src="{% static 'images/statusguide.png' %}"></li>
    </ol>
    <form action="" method="post">
        {% csrf_token %}
        <label class="terms-label">
            <input type="checkbox" name="terms" required>
            I agree to answer all the questions honestly. I agree to all the terms and conditions.
        </label>
        <br>
        <button type="submit">Health Check</button>
    </form>
</div>
<div class="archives"></div>
</div>
</div>
<div class="screen-too-small">
    <p>Screen too small for this media </p>
</div>


</html>
