{% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}">
    <title>Sky Health Check</title>
    <link rel="icon" href="{% static 'images/tablogo.png' %}" type="image/png">
</head>

<body>
    <div id="mobile-overlay">
        <p>Please view this site on a desktop or tablet for the best experience.</p>
    </div>
    <nav>
        <img src="{% static 'images/navbarlogo.png' %}">
        <ul>

            <li class="active"><img src="{% static 'images/activenav.png' %}"><a href="">Home</a></li>
            <li><a href="{% url 'voting_survey' %}">My Survey</a></li>
            <li><a href="{% url 'visualisation' %}">Trends</a></li>
            <li><a href="{% url 'account' %}">Account</a></li>
        </ul>
        <a href="{% url 'logout' %}" class="logout-link">
            <img src="{% static 'images/signout.png' %}">
            <p>Sign out</p>
        </a>
    </nav>
    <div class="welcome">
        <h2>Hello, {{ request.user.first_name }}</h2>
    </div>
    <div id="datetime">
        {% now "D j M H:i" %}
    </div>
    <script src="{% static 'javascripts/datetime.js' %}"></script>
    <main class="main-content">
        <section class="card profile-card">
            <div class="profile-icon">
                <img src="{% static 'dashboard/images/profileicon.png' %}" alt="Profile Icon">
            </div>
            <div class="profile-info">
                <h3>{{ request.user.first_name }} {{ request.user.last_name }}</h3>
                <p>{{ jobTitle }}</p>
                <p>{{ request.user.email }}</p>
            </div>
        </section>
        <section class="card new-check-card">
            <h3>New Health Check</h3>
            <form action="{% url 'voting_survey' %}" method="post">
                {% csrf_token %}
                {% if has_active_session and not has_taken %}
                <button type="submit">Go to My Survey</button>
                {% elif has_taken  %}
                <p class="SurveyError">You have already taken the health check.</p>
                {% elif not has_active_session %}
                <p class="SurveyError">There are no active survey sessions .</p>
                {% endif %}
            </form>
        </section>
        <section class="card team-card">
            <h4>My Team</h4>
            <div class="team-content">
                <div class="team-icon">
                    <img src="{% static 'dashboard/images/teamicon.png' %}" alt="Team Icon">
                </div>
                <div class="team-info">
                    <h3>{{ request.user.team }}</h3>
                </div>
            </div>
        </section>
        <section class="card trend-card">
            <h3>My Trends</h3>
            <div class="chart-container">
                <canvas id="myTrendsChart"></canvas>
                <script src="{% static 'dashboard/javascript/dashTrends.js' %}"></script>
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myTrendsChart').getContext('2d');
    </script>
</body>

</html>