/*Authored by Musa*/
.white-box {
    height: 75vh;
    width: auto;
    margin: 150px 20px 20px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    min-width: auto;
    overflow: hidden;
    background-color: white;
    padding-top: 2vh;
    padding-left: 2vw;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.white-box p {
    position: relative;
    text-align: left;
    font-size: 3vw;
    color: #919191;
    margin: 1vh 0;
}

.profile-icon img {
    width: 15vw; 
    height: auto; 
    border-radius: 50%; 
    margin: 0 auto; 
    display: block; 
    clear: both; 
    float: left;
}

.profile-name p {
    position: relative;
    display: block;
    font-size: 5vw;
    color: #f5296d;
    margin: 0;
    padding: 0;
    text-align: left;
}

.profile-role p {
    position: relative;
    font-size: 4vw;
    color: #919191;
    margin: 0;
    padding: 0;
    text-align: left;
}

.edit-profile-button {
    position: relative;
    background-color: #ffffff;
    border: 0.3vw solid #fd6843;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 0.5vw;
    float: left;
}

.edit-profile-button a {
    position: relative;
    padding: 2vw;
    color: #fd6843;
    font-size: 2vw;
    text-decoration: none;
    font-weight: normal;
}

.profile-details {
    position: relative;
    align-items: center;
    display: flex;
    gap: 2vw;
    margin-bottom: 3vh;
}

.profile-username p,
.profile-id p,
.profile-email p,
.profile-team p {
    position: relative;
    font-size: 3vw;
    color: #4b50fc;
    margin: 0;
    padding: 0;
}


.profile-details-2 {
    position: relative;
    display: block;
    clear: both;
    margin-top: 5vh;
    float: left;
}

.profile-username,
.profile-email {
    position: relative;
    display: flex;
    align-items: center; 
    gap: 1vw; 
    flex: 1; 
    margin: 0;
}

.profile-id,
.profile-team {
    position: relative;
    display: flex;
    align-items: center; 
    flex: 1; 
    margin: 0;
}

.profile-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1vh;
}

.profile-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vh 0vw; 
    width: 100%;
}

.profile-box {
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 3vw;
    color: #4b50fc;
}

.profile-box img {
    width: 2.5vw;
    height: auto;
}
