/*Authored by Eeliya*/
/* loadin custom fonts */
@font-face {
    font-family: 'SkyRegular';
    src: url('/static/fonts/sky-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SkyMedium';
    src: url('/static/fonts/sky-medium.ttf') format('truetype');
    font-weight: bold; 
    font-style: normal;
}

body {
    background-color: #f1f2f4;
    font-family: 'SkyRegular';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.logo-img {
    height: 80px;
    margin-bottom: 0px;
}

.welcome-text {
    font-size: 32px;
    margin: 10px 10px;
    font-family: 'SkyMedium';
    color: #777777;
}

.sub-text {
    font-family: 'SkyRegular';
    font-size: 20px;
    margin: 0px 0px;
    color: #888;
    margin-bottom: 45px;
}

.login-form p {
    margin-bottom: 15px;
    color: #888;
    text-align: left;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
    font-size: 14px;
}

.login-form button {
    width: 100%;
    padding: 12px;
    background-color: #377dff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login-form button:hover {
    background-color: #2666d0;
}

.register-link {
    margin-top: 20px;
    font-size: 16px;
    color: #888;
}

.register-link a {
    color: #377dff;
    font-weight: bold;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}